:root {
    --main-color: #5ea3d0;
    --secondary-color: white;
    --main-text-color: #3e5869;
    --secondary-text-color: #b0c7d6;
    --send-message-form: #F5F5F5;
}

*{
    padding: 0;
    margin: 0;
}

html {
    position: relative; 
    height: 100%;
    font-family: system-ui;
    font-weight: 200;
    color: #3e5869;
}

body {
    margin-bottom: 60px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: var(--secondary-color);
    background: var(--main-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.inputBox {
    box-shadow: 10px 10px 5px grey;
}

.text-muted {
  margin: 20px 0;
}
